html, body {
	margin: 0;
	display:flex;
	flex-direction: column;
}

/*
  Background divs
*/

.tsm_box {
	position          : relative;
	flex              : 1;
	margin            : 0;
	padding           : 0;
	border            : 8px solid black;
	font-family       : Arial, Helvetica, sans-serif;
	box-sizing        : border-box;
	-moz-box-sizing   : border-box;
	-webkit-box-sizing: border-box;
}

.tsm_success {
	background-color  : green;	
}

.tsm_failure {
	background-color  : red;	
}
.tsm_notrun {
	background-color  : orange;	
}

/*
  Text divs
*/

.tsm_date, .tsm_elapsed {
  font-size : 2em;
  float     : right;
  text-align: right;
}

.tsm_elapsed {
  bottom: 0;
  right: 0;
  position: absolute;
}

.tsm_elapsed, .tsm_date, .tsm_configurationName, .tsm_buildNumber {
  color      : white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin     : 0.2em;
}

.tsm_configurationName {
  font-size: 2.5em;
  float    : left;
}

.tsm_buildNumber {
  font-size: 2.5em;
  float    : left;
  opacity  : 0.5;
  position : absolute;
  bottom   : 0;
}