.tsm_date {
  font-size: 2em;
  float    : right;
}

.tsm_date, .tsm_configurationName, .tsm_buildNumber {
  color      : white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin     : 0.1em;
}

.tsm_configurationName {
  font-size: 2.5em;
  float    : left;
}

.tsm_buildNumber {
  font-size: 3em;
  float    : left;
  opacity  : 0.5;
  position : absolute;
  bottom   : 0;
}

.tsm_box {
  position          : absolute;
  float             : left;
  margin            : 0;
  padding           : 0;
  border            : solid 3px black;
  font-family       : Arial, Helvetica, sans-serif;
  box-sizing        :border-box;
  -moz-box-sizing   :border-box;
  -webkit-box-sizing:border-box;
  left              : 0;
  background-color  : green;
  top               : 0;
}